.chart {
    fill: white;
    font-size: 12px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.chart .blip:hover {
    cursor: pointer;
}

.chart .tooltip {
    padding: 15px 15px;
    font-size:15px;
    border-radius: 11px;
    font-weight: 600;
}

.chart .ring-label {
    text-transform: uppercase;
}